#root {
  margin: 0 auto;
  box-sizing: border-box;
}

.crawling-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.content {
  display: grid;
}

.error {
  align-self: center;
  justify-self: center;
}

.loader {
  align-self: center;
  justify-self: center;
}

.crawled-items-list {
  align-self: flex-start;
  justify-self: flex-start;
}
